.form-group.form-md-line-input.form-md-floating-label .form-control ~ label {
    font-size: 14px !important;
    
}

.form-group.form-md-line-input.form-md-floating-label .form-control:focus ~ label {
    font-size: 11px !important;
    /*top: 0px;
    left: 0px !important;
    transition: 0.2s ease all !important;
    color: #999 !important;
    padding-left: 12px;*/
}
.form-group.form-md-line-input .form-control ~ .form-control-focus, .form-group.form-md-line-input .form-control:focus ~ label {
    font-size: 10px !important;
    color: #999 !important;
}

.form-group.form-md-line-input.form-md-floating-label .form-control[readonly] ~ label, .form-group.form-md-line-input.form-md-floating-label .form-control.edited ~ label, .form-group.form-md-line-input.form-md-floating-label .form-control.form-control-static ~ label, .form-group.form-md-line-input.form-md-floating-label .form-control:focus:not([readonly]) ~ label, .form-group.form-md-line-input.form-md-floating-label .form-control.focus:not([readonly]) ~ label {
    top: 0 !important;
    font-size: 10px !important;
    color: #999 !important;
}

.RecievedByDivStyle{
    width: 288px !important;
}


.form-group.form-md-line-input .form-control {
    /*background: none !important;*/
    /*border: 0 !important;*/
    /*border-bottom: none !important;*/
    font-size: 12px !important;
    font-weight: 600 !important;
}
.customclass {
    position: relative !important;
    margin: 0 0 35px !important;
    padding-top: 15px !important;
   
   
    /*border-radius: 5px !important;*/
    padding-right: 10px !important;
    padding-left: 10px !important;
}

.customclassPII {
    position: relative !important;
    margin: 0 0 35px !important;
    padding-top: 15px !important;
    background: border-box !important;
    border: 2px solid #e43b3b !important;
    border-radius: 5px !important;
    padding-right: 10px !important;
    padding-left: 10px !important;
}
.select2-container--bootstrap .select2-selection--multiple .select2-search--inline .select2-search__field {
    background: transparent;
    padding: 0 12px;
    height: 42px;
    line-height: 1.42857;
    margin-top: 0;
    min-width: 15em;
}

/*input::-webkit-input-placeholder {
	font-size: 14px;
	line-height: 4;
	color: #999 !important;
	}
	.tt-query {
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	}

	.tt-hint {
	color: #999
	}*/

.tt-menu { /* used to be tt-dropdown-menu in older versions */
    width: 390px;
    margin-top: 4px;
    padding: 4px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    line-height: 24px;
}

    .tt-suggestion.tt-cursor, .tt-suggestion:hover {
        color: #fff;
        background-color: #0097cf;
    }
